{{ loadCssComponent('button') }}
{% if class is defined %}
    <a class="button {{ class }}" href="{{ link }}">{{ title | raw }}</a>
{% else %}
    <a class="button" href="{{ link }}">{{ title | raw }}</a>
{% endif %}

